# Preferences of Audiobooks Vs. Physical Books
This notebook will combine the combination of two datasets. One will be information based from the Audible catalog and the other will be from Google Books. We will compare the ratings of the same book based on whether they were more enjoyed as an audiobook or a physical copy read.

## 1. Import Necessary Tools

In [121]:
#Import necessary tools for project. 

import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib.ticker as mticker
import numpy as np

## 2. Inspect the Data for Audio Books

In [ ]:
#Create a database based on Audio Book alone. Clean the date and make it able to be combined with Physical

df_audio = pd.read_csv('../data/Audible_Catlog.csv', encoding='ISO-8859-1')
df_audio.head()

,ï»¿Book Name,Author,Rating,Number of Reviews,Price
0,Think Like a Monk: The Secret of How to Harnes...,Jay Shetty,4.9,313.0,10080.0
1,Ikigai: The Japanese Secret to a Long and Happ...,HÃ©ctor GarcÃ­a,4.6,3658.0,615.0
2,The Subtle Art of Not Giving a F*ck: A Counter...,Mark Manson,4.4,20174.0,10378.0
3,Atomic Habits: An Easy and Proven Way to Build...,James Clear,4.6,4614.0,888.0
4,Life's Amazing Secrets: How to Find Balance an...,Gaur Gopal Das,4.6,4302.0,1005.0

In [ ]:
df_audio.info()

#Comparable Columns include: Author, Book Name, Rating, Price
#Will need to change column names to match other data set

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6368 entries, 0 to 6367
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ï»¿Book Name       6368 non-null   object
 1   Author             6368 non-null   object
 2   Rating             6368 non-null   float64
 3   Number of Reviews  5737 non-null   float64
 4   Price              6365 non-null   float64
dtypes: float64(3), object(2)
memory usage: 248.9+ KB

In [124]:
#Ran to determine if the null factors affect any information pulled

df_audio.isnull().sum ()

ï»¿Book Name           0
Author                 0
Rating                 0
Number of Reviews    631
Price                  3
dtype: int64

In [125]:
#Add book type as column so when information is combined I am able to pull the data of audio only. 

df_audio["Book Type"] = "audio"
df_audio.head(
)

,ï»¿Book Name,Author,Rating,Number of Reviews,Price,Book Type
0,Think Like a Monk: The Secret of How to Harnes...,Jay Shetty,4.9,313.0,10080.0,audio
1,Ikigai: The Japanese Secret to a Long and Happ...,HÃ©ctor GarcÃ­a,4.6,3658.0,615.0,audio
2,The Subtle Art of Not Giving a F*ck: A Counter...,Mark Manson,4.4,20174.0,10378.0,audio
3,Atomic Habits: An Easy and Proven Way to Build...,James Clear,4.6,4614.0,888.0,audio
4,Life's Amazing Secrets: How to Find Balance an...,Gaur Gopal Das,4.6,4302.0,1005.0,audio

In [126]:
#Figured out the average price prior to updating the column. It turned out that everything has been * 100 so I need to / 100. 

avg_price_audio = df_audio["Price"].mean()
print(avg_price_audio)

923.2127258444619

In [127]:
#Divided the data by 100 - when running a new cell, needed to mute this code because it kept dividing by 100 every time. 

df_audio["Price"] = df_audio["Price"] / 100
df_audio.head()

,ï»¿Book Name,Author,Rating,Number of Reviews,Price,Book Type
0,Think Like a Monk: The Secret of How to Harnes...,Jay Shetty,4.9,313.0,100.80,audio
1,Ikigai: The Japanese Secret to a Long and Happ...,HÃ©ctor GarcÃ­a,4.6,3658.0,6.15,audio
2,The Subtle Art of Not Giving a F*ck: A Counter...,Mark Manson,4.4,20174.0,103.78,audio
3,Atomic Habits: An Easy and Proven Way to Build...,James Clear,4.6,4614.0,8.88,audio
4,Life's Amazing Secrets: How to Find Balance an...,Gaur Gopal Das,4.6,4302.0,10.05,audio

In [128]:
#Remove characters from the column titles so they can be combined with other data sets

df_audio.columns = (
    df_audio.columns.astype(str)
    .str.replace("ï»¿", "", regex=False)
    .str.replace("\ufeff", "", regex=False)
    .str.strip()
    .str.lower()
)
df_audio.head()

,book name,author,rating,number of reviews,price,book type
0,Think Like a Monk: The Secret of How to Harnes...,Jay Shetty,4.9,313.0,100.80,audio
1,Ikigai: The Japanese Secret to a Long and Happ...,HÃ©ctor GarcÃ­a,4.6,3658.0,6.15,audio
2,The Subtle Art of Not Giving a F*ck: A Counter...,Mark Manson,4.4,20174.0,103.78,audio
3,Atomic Habits: An Easy and Proven Way to Build...,James Clear,4.6,4614.0,8.88,audio
4,Life's Amazing Secrets: How to Find Balance an...,Gaur Gopal Das,4.6,4302.0,10.05,audio

In [129]:
#Drop All rows that contain Null in any category column

df_audio = df_audio.dropna()
df_audio.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5735 entries, 0 to 6366
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   book name          5735 non-null   object
 1   author             5735 non-null   object
 2   rating             5735 non-null   float64
 3   number of reviews  5735 non-null   float64
 4   price              5735 non-null   float64
 5   book type          5735 non-null   object
dtypes: float64(3), object(3)
memory usage: 313.6+ KB

In [130]:
df_audio.head()

,book name,author,rating,number of reviews,price,book type
0,Think Like a Monk: The Secret of How to Harnes...,Jay Shetty,4.9,313.0,100.80,audio
1,Ikigai: The Japanese Secret to a Long and Happ...,HÃ©ctor GarcÃ­a,4.6,3658.0,6.15,audio
2,The Subtle Art of Not Giving a F*ck: A Counter...,Mark Manson,4.4,20174.0,103.78,audio
3,Atomic Habits: An Easy and Proven Way to Build...,James Clear,4.6,4614.0,8.88,audio
4,Life's Amazing Secrets: How to Find Balance an...,Gaur Gopal Das,4.6,4302.0,10.05,audio

In [131]:
df_audio["number of reviews"] = (
    pd.to_numeric(df_audio["number of reviews"], errors="raise")
      .astype(int))
df_audio.head()

,book name,author,rating,number of reviews,price,book type
0,Think Like a Monk: The Secret of How to Harnes...,Jay Shetty,4.9,313,100.80,audio
1,Ikigai: The Japanese Secret to a Long and Happ...,HÃ©ctor GarcÃ­a,4.6,3658,6.15,audio
2,The Subtle Art of Not Giving a F*ck: A Counter...,Mark Manson,4.4,20174,103.78,audio
3,Atomic Habits: An Easy and Proven Way to Build...,James Clear,4.6,4614,8.88,audio
4,Life's Amazing Secrets: How to Find Balance an...,Gaur Gopal Das,4.6,4302,10.05,audio

In [132]:
df_audio.rename(columns={"book name": "title"}, inplace=True)
df_audio.rename(columns={"number of reviews": "number_of_reviews"}, inplace=True)
df_audio.rename(columns={"book type": "book_type"}, inplace=True)
df_audio.head()

,title,author,rating,number_of_reviews,price,book_type
0,Think Like a Monk: The Secret of How to Harnes...,Jay Shetty,4.9,313,100.80,audio
1,Ikigai: The Japanese Secret to a Long and Happ...,HÃ©ctor GarcÃ­a,4.6,3658,6.15,audio
2,The Subtle Art of Not Giving a F*ck: A Counter...,Mark Manson,4.4,20174,103.78,audio
3,Atomic Habits: An Easy and Proven Way to Build...,James Clear,4.6,4614,8.88,audio
4,Life's Amazing Secrets: How to Find Balance an...,Gaur Gopal Das,4.6,4302,10.05,audio

## 3. Inspect the data for Google Books

In [160]:
df_physical = pd.read_csv('../data/google_books_1299.csv', encoding='ISO-8859-1')
df_physical.head()

,Unnamed: 0,title,author,rating,voters,price,currency,description,publisher,page_count,generes,ISBN,language,published_date
0,0,Attack on Titan: Volume 13,Hajime Isayama,4.6,428,43.28,SAR,NO SAFE PLACE LEFT At great cost to the Garris...,Kodansha Comics,192,none,9781612626864,English,"Jul 31, 2014"
1,1,Antiques Roadkill: A Trash 'n' Treasures Mystery,Barbara Allan,3.3,23,26.15,SAR,Determined to make a new start in her quaint h...,Kensington Publishing Corp.,288,"Fiction , Mystery &amp, Detective , Cozy , Gen...",9780758272799,English,"Jul 1, 2007"
2,2,The Art of Super Mario Odyssey,Nintendo,3.9,9,133.85,SAR,Take a globetrotting journey all over the worl...,Dark Horse Comics,368,"Games &amp, Activities , Video &amp, Electronic",9781506713816,English,"Nov 5, 2019"
3,3,Getting Away Is Deadly: An Ellie Avery Mystery,Sara Rosett,4.0,10,26.15,SAR,"With swollen feet and swelling belly, pregnant...",Kensington Publishing Corp.,320,none,9781617734076,English,"Mar 1, 2009"
4,4,"The Painted Man (The Demon Cycle, Book 1)",Peter V. Brett,4.5,577,28.54,SAR,The stunning debut fantasy novel from author P...,HarperCollins UK,544,"Fiction , Fantasy , Dark Fantasy",9780007287758,English,"Jan 8, 2009"

In [161]:
df_physical.info()

#Comparable Columns include: Author, Book Name, Rating, Price

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1299 entries, 0 to 1298
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      1299 non-null   int64
 1   title           1299 non-null   object
 2   author          1299 non-null   object
 3   rating          1224 non-null   float64
 4   voters          1224 non-null   object
 5   price           1299 non-null   float64
 6   currency        1299 non-null   object
 7   description     1296 non-null   object
 8   publisher       1299 non-null   object
 9   page_count      1299 non-null   int64
 10  generes         1299 non-null   object
 11  ISBN            1299 non-null   object
 12  language        1299 non-null   object
 13  published_date  1299 non-null   object
dtypes: float64(2), int64(2), object(10)
memory usage: 142.2+ KB

In [ ]:
#How many rows have a null factor and is the information important with the other data set? 

df_physical.isnull().sum ()

#Yes- These will need to be deleted because the information is combining with other data set.

Unnamed: 0         0
title              0
author             0
rating            75
voters            75
price              0
currency           0
description        3
publisher          0
page_count         0
generes            0
ISBN               0
language           0
published_date     0
dtype: int64

In [ ]:
#Add column denoting all this information comes from the physical book data set.

df_physical["Book Type"] = "physical"
df_physical.head()

,Unnamed: 0,title,author,rating,voters,price,currency,description,publisher,page_count,generes,ISBN,language,published_date,Book Type
0,0,Attack on Titan: Volume 13,Hajime Isayama,4.6,428,43.28,SAR,NO SAFE PLACE LEFT At great cost to the Garris...,Kodansha Comics,192,none,9781612626864,English,"Jul 31, 2014",physical
1,1,Antiques Roadkill: A Trash 'n' Treasures Mystery,Barbara Allan,3.3,23,26.15,SAR,Determined to make a new start in her quaint h...,Kensington Publishing Corp.,288,"Fiction , Mystery &amp, Detective , Cozy , Gen...",9780758272799,English,"Jul 1, 2007",physical
2,2,The Art of Super Mario Odyssey,Nintendo,3.9,9,133.85,SAR,Take a globetrotting journey all over the worl...,Dark Horse Comics,368,"Games &amp, Activities , Video &amp, Electronic",9781506713816,English,"Nov 5, 2019",physical
3,3,Getting Away Is Deadly: An Ellie Avery Mystery,Sara Rosett,4.0,10,26.15,SAR,"With swollen feet and swelling belly, pregnant...",Kensington Publishing Corp.,320,none,9781617734076,English,"Mar 1, 2009",physical
4,4,"The Painted Man (The Demon Cycle, Book 1)",Peter V. Brett,4.5,577,28.54,SAR,The stunning debut fantasy novel from author P...,HarperCollins UK,544,"Fiction , Fantasy , Dark Fantasy",9780007287758,English,"Jan 8, 2009",physical

In [ ]:
#What is Average price and does it make sense?

avg_price = df_physical["price"].mean()
print(avg_price)

45.882732871439565

In [ ]:
# Delete the two columns from the DataFrame
df_physical.drop(columns=["Unnamed: 0", "currency"], inplace=True, errors="ignore")
df_physical.head()

,title,author,rating,voters,price,description,publisher,page_count,generes,ISBN,language,published_date,Book Type
0,Attack on Titan: Volume 13,Hajime Isayama,4.6,428,43.28,NO SAFE PLACE LEFT At great cost to the Garris...,Kodansha Comics,192,none,9781612626864,English,"Jul 31, 2014",physical
1,Antiques Roadkill: A Trash 'n' Treasures Mystery,Barbara Allan,3.3,23,26.15,Determined to make a new start in her quaint h...,Kensington Publishing Corp.,288,"Fiction , Mystery &amp, Detective , Cozy , Gen...",9780758272799,English,"Jul 1, 2007",physical
2,The Art of Super Mario Odyssey,Nintendo,3.9,9,133.85,Take a globetrotting journey all over the worl...,Dark Horse Comics,368,"Games &amp, Activities , Video &amp, Electronic",9781506713816,English,"Nov 5, 2019",physical
3,Getting Away Is Deadly: An Ellie Avery Mystery,Sara Rosett,4.0,10,26.15,"With swollen feet and swelling belly, pregnant...",Kensington Publishing Corp.,320,none,9781617734076,English,"Mar 1, 2009",physical
4,"The Painted Man (The Demon Cycle, Book 1)",Peter V. Brett,4.5,577,28.54,The stunning debut fantasy novel from author P...,HarperCollins UK,544,"Fiction , Fantasy , Dark Fantasy",9780007287758,English,"Jan 8, 2009",physical

In [ ]:
#Rename Columns to combine with other dataframe

df_physical.rename(columns={"voters": "number_of_reviews"}, inplace=True)
df_physical.rename(columns={"generes": "genres"}, inplace=True)
df_physical.rename(columns={"Book Type": "book_type"}, inplace=True)
df_physical.head()

,title,author,rating,number_of_reviews,price,description,publisher,page_count,genres,ISBN,language,published_date,book_type
0,Attack on Titan: Volume 13,Hajime Isayama,4.6,428,43.28,NO SAFE PLACE LEFT At great cost to the Garris...,Kodansha Comics,192,none,9781612626864,English,"Jul 31, 2014",physical
1,Antiques Roadkill: A Trash 'n' Treasures Mystery,Barbara Allan,3.3,23,26.15,Determined to make a new start in her quaint h...,Kensington Publishing Corp.,288,"Fiction , Mystery &amp, Detective , Cozy , Gen...",9780758272799,English,"Jul 1, 2007",physical
2,The Art of Super Mario Odyssey,Nintendo,3.9,9,133.85,Take a globetrotting journey all over the worl...,Dark Horse Comics,368,"Games &amp, Activities , Video &amp, Electronic",9781506713816,English,"Nov 5, 2019",physical
3,Getting Away Is Deadly: An Ellie Avery Mystery,Sara Rosett,4.0,10,26.15,"With swollen feet and swelling belly, pregnant...",Kensington Publishing Corp.,320,none,9781617734076,English,"Mar 1, 2009",physical
4,"The Painted Man (The Demon Cycle, Book 1)",Peter V. Brett,4.5,577,28.54,The stunning debut fantasy novel from author P...,HarperCollins UK,544,"Fiction , Fantasy , Dark Fantasy",9780007287758,English,"Jan 8, 2009",physical

In [ ]:
# Delete rows with nulls
df_physical = df_physical.dropna().reset_index(drop=True)
df_physical.isnull().sum ()

title                0
author               0
rating               0
number_of_reviews    0
price                0
description          0
publisher            0
page_count           0
genres               0
ISBN                 0
language             0
published_date       0
book_type            0
dtype: int64

In [169]:
df_physical.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1221 entries, 0 to 1220
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   title              1221 non-null   object
 1   author             1221 non-null   object
 2   rating             1221 non-null   float64
 3   number_of_reviews  1221 non-null   object
 4   price              1221 non-null   float64
 5   description        1221 non-null   object
 6   publisher          1221 non-null   object
 7   page_count         1221 non-null   int64
 8   genres             1221 non-null   object
 9   ISBN               1221 non-null   object
 10  language           1221 non-null   object
 11  published_date     1221 non-null   object
 12  book_type          1221 non-null   object
dtypes: float64(2), int64(1), object(10)
memory usage: 124.1+ KB

## 4. Combining the two data sets

In [171]:
df_combined = pd.concat([df_audio, df_physical], ignore_index=True)

print(df_combined.shape)
print(df_combined.columns)

(6956, 13)
Index(['title', 'author', 'rating', 'number_of_reviews', 'price', 'book_type',
       'description', 'publisher', 'page_count', 'genres', 'ISBN', 'language',
       'published_date'],
      dtype='object')

In [172]:
df_combined.head()

,title,author,rating,number_of_reviews,price,book_type,description,publisher,page_count,genres,ISBN,language,published_date
0,Think Like a Monk: The Secret of How to Harnes...,Jay Shetty,4.9,313,100.80,audio,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Ikigai: The Japanese Secret to a Long and Happ...,HÃ©ctor GarcÃ­a,4.6,3658,6.15,audio,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,The Subtle Art of Not Giving a F*ck: A Counter...,Mark Manson,4.4,20174,103.78,audio,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Atomic Habits: An Easy and Proven Way to Build...,James Clear,4.6,4614,8.88,audio,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Life's Amazing Secrets: How to Find Balance an...,Gaur Gopal Das,4.6,4302,10.05,audio,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [173]:
df_combined.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6956 entries, 0 to 6955
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   title              6956 non-null   object
 1   author             6956 non-null   object
 2   rating             6956 non-null   float64
 3   number_of_reviews  6956 non-null   object
 4   price              6956 non-null   float64
 5   book_type          6956 non-null   object
 6   description        1221 non-null   object
 7   publisher          1221 non-null   object
 8   page_count         1221 non-null   float64
 9   genres             1221 non-null   object
 10  ISBN               1221 non-null   object
 11  language           1221 non-null   object
 12  published_date     1221 non-null   object
dtypes: float64(3), object(10)
memory usage: 706.6+ KB

In [ ]:
#How many duplicated Authors exist? This could be an indicator of need in ERD. 

num_duplicate_authors = df_combined["author"].duplicated().sum()
print(num_duplicate_authors)

3568

In [ ]:
#How many duplicated Ttitles exist? This could be an indicator of need in ERD. 

num_duplicate_titles = df_combined["title"].duplicated().sum()
print(num_duplicate_titles)

1869

In [192]:
#list all the genres to fix and list

genres_list = (
    df_combined["genres"]
      .dropna()
      .astype(str)
      .str.split(r"\s*,\s*")   # split on commas, trim spaces
      .explode()
      .str.strip()
      .loc[lambda s: s.ne("")]
      .drop_duplicates()
      .sort_values()
      .tolist()
)

print(genres_list)

['20th Century', 'Accounting', 'Action', 'Action Adventure', 'Activities', 'Administration', 'Adventure', 'Advertising', 'Alien Contact', 'Alternative History', 'Amateur Sleuth', 'American', 'Animals', 'Anthologies', 'Art', 'Autobiography', 'Biography', 'Body', 'Budgeting', 'Business', 'Business Communication', 'Business Development', 'Business Economics', 'Business History', 'Business Mathematics', 'Careers', 'Cartoons', 'Celebrity', 'Citizenship', 'Civics', 'Classics', 'Climate Change', 'Cognition', 'Cognitive Psychology', 'Collections', 'Comedy', 'Comic Strips', 'Comics', 'Comics Graphic Novels', 'Coming of Age', 'Communication', 'Computers', 'Consumer Behavior', 'Contemporary', 'Cooking', 'Corporate', 'Corporate Finance', 'Cozy', 'Creative Ability', 'Crime', 'Criminology', 'Curiosities', 'Dark Fantasy', 'Data Processing', 'Decision-Making', 'Desktop Applications', 'Detective', 'Development', 'Dragons', 'Drama', 'Dystopian', 'E-Commerce', 'Economics', 'Electronic', 'Electronic Commerce', 'Emotions', 'Engineering', 'Entertainment', 'Entrepreneurship', 'Environmental Conservation', 'Environmentalists', 'Epic', 'Espionage', 'Essays', 'European', 'Fairy Tales', 'Family', 'Famous', 'Fantasy', 'Feminism', 'Feminist Theory', 'Fiction', 'Finance', 'Financial', 'Fitness', 'Folk Tales', 'Folklore', 'Form', 'Friendship', 'Games', 'Gay', 'Gender Studies', 'General', 'Genres', 'Global Warming', 'Graphic Novels', 'Happiness', 'Hard-Boiled', 'Health', 'Health Care Delivery', 'Healthy Living', 'Historical', 'History', 'Horror', 'Human Resources', 'Humor', 'Humorous', 'Humorous Stories', 'Industries', 'Information Management', 'Information Technology', 'Inspiration', 'Inspirational', 'International Mystery', 'Internet Marketing', 'Interpersonal Relations', 'Investing', 'Investments', 'Irish', 'Juvenile Fiction', 'Juvenile Nonfiction', 'LGBT', 'Leadership', 'Legal', 'Legends', 'Letters', 'Life Stages', 'Literary', 'Literary Collections', 'Literary Criticism', 'Literary Figures', 'Magic', 'Management', 'Management Science', 'Managerial', 'Manga', 'Marketing', 'Media Tie-In', 'Medical', 'Medical (incl. Patients)', 'Meetings', 'Mental Health', 'Mentoring Coaching', 'Military', 'Mind', 'Modern', 'Money Management', 'Motivational', 'Movements', 'Music', 'Musicals', 'Mystery', 'Mystery Detective', 'Mythical Creatures', 'Mythology', 'Naturalists', 'Nature', 'Neuropsychology', 'New Business Enterprises', 'New Thought', 'Noir', 'Nonfiction', 'Online Trading', 'Organizational Behavior', 'Organizational Development', 'Organized Crime', 'Paranormal', 'Performing Arts', 'Personal Finance', 'Personal Growth', 'Personal Memoirs', 'Personal Success', 'Personnel Management', 'Philosophy', 'Physiological Psychology', 'Poetry', 'Police Procedural', 'Political', 'Political Ideologies', 'Political Science', 'Popular Culture', 'Presentations', 'Private Investigators', 'Problem Solving', 'Professional', 'Promotion', 'Protection', 'Psychoanalysis', 'Psychological', 'Psychology', 'Public Affairs', 'Public Finance', 'Reference', 'Relationships', 'Retrieval', 'Rich', 'Rural', 'Sales', 'Satire', 'School Age', 'Science', 'Science Fiction', 'Scottish', 'Securities', 'Self-Esteem', 'Self-Help', 'Self-Management', 'Selling', 'Shakespeare', 'Short Stories (single author)', 'Skills', 'Small Town', 'Social Activists', 'Social Media', 'Social Psychology', 'Social Science', 'Social Skills', 'Social Themes', 'Sociology', 'Software Development', 'Space Opera', 'Spirit', 'Stocks', 'Storage', 'Strategy', 'Stress Management', 'Styles', 'Success', 'Superheroes', 'Supernatural', 'Surveys', 'Suspense', 'System Administration', 'Technological', 'Technology', 'Television', 'Terrorism', 'Theater', 'Theory', 'Thrillers', 'Time Management', 'Topic', 'Traditional', 'Training', 'True Crime', 'Urban', 'Video', 'Video Game Art', 'War', 'Web', 'Welsh', 'Women', 'Women Sleuths', 'Wonders', 'Workplace Culture', 'Young Adult Fiction', 'nan', 'none']

In [ ]:
# CHAT GPT assisted to pull out the &amp in the genre column. 

df_combined["genres"] = (
    df_combined["genres"]
      .astype(str)
      .str.replace(r"&amp;?", "", regex=True)  # remove the html entity
      .str.replace("&", "", regex=False)       # remove any remaining &
      .str.replace(r"\s{2,}", " ", regex=True) # optional: collapse extra spaces
      .str.strip()
)

In [207]:
df_combined = (
    df_combined.sort_values(by="title", key=lambda s: s.astype(str).str.lower())
              .reset_index(drop=True)
)
df_combined.head()

,title,author,rating,number_of_reviews,price,book_type,description,publisher,page_count,genres,ISBN,language,published_date
0,"""Don't You Know Who I Am?"": How to Stay Sane i...",Ramani S. Durvasula PhD,4.8,170,8.36,audio,NaN,NaN,NaN,nan,NaN,NaN,NaN
1,#Girlboss,Sophia Amoruso,4.5,2260,6.15,audio,NaN,NaN,NaN,nan,NaN,NaN,NaN
2,#TheRealCinderella: #BestFriendsForever Series...,Yesenia Vargas,4.3,179,5.86,audio,NaN,NaN,NaN,nan,NaN,NaN,NaN
3,'Salem's Lot,Stephen King,4.4,247,55.10,physical,"'Turn off the television - in fact, why don't ...",Hachette UK,300.0,"Fiction , General",9781848940819,English,"Dec 11, 2008"
4,10 Essential Success Mantras from the Bhagavad...,Vimla Patil,4.2,45,2.33,audio,NaN,NaN,NaN,nan,NaN,NaN,NaN

In [206]:
#Removed all book were duplicated for the following criteria: Title and Book Type because it would scew data. 

df_combined = (
    df_combined.drop_duplicates(subset=["title", "book_type"], keep="first")
               .reset_index(drop=True)
)
df_combined.head()

,title,author,rating,number_of_reviews,price,book_type,description,publisher,page_count,genres,ISBN,language,published_date
0,"""Don't You Know Who I Am?"": How to Stay Sane i...",Ramani S. Durvasula PhD,4.8,170,8.36,audio,NaN,NaN,NaN,nan,NaN,NaN,NaN
1,#Girlboss,Sophia Amoruso,4.5,2260,6.15,audio,NaN,NaN,NaN,nan,NaN,NaN,NaN
2,#TheRealCinderella: #BestFriendsForever Series...,Yesenia Vargas,4.3,179,5.86,audio,NaN,NaN,NaN,nan,NaN,NaN,NaN
3,'Salem's Lot,Stephen King,4.4,247,55.10,physical,"'Turn off the television - in fact, why don't ...",Hachette UK,300.0,"Fiction , General",9781848940819,English,"Dec 11, 2008"
4,10 Essential Success Mantras from the Bhagavad...,Vimla Patil,4.2,45,2.33,audio,NaN,NaN,NaN,nan,NaN,NaN,NaN

In [ ]:
#Count of the titles that exist in BOTH audio and physical (Assisted by Chat GPT)

both_count = (
    df_combined.assign(
        title_clean=df_combined["title"].astype(str).str.strip().str.lower(),
        type_clean=df_combined["book_type"].astype(str).str.strip().str.lower()
    )
    .groupby("title_clean")["type_clean"]
    .nunique()
    .ge(2)
    .sum()
)

print(both_count)

18

In [210]:
#Change date to numercial entities for consistency

df_combined["published_date"] = (
    pd.to_datetime(df_combined["published_date"], errors="coerce")
      .dt.strftime("%m-%d-%Y")
)

df_combined.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5103 entries, 0 to 5102
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   title              5103 non-null   object
 1   author             5103 non-null   object
 2   rating             5103 non-null   float64
 3   number_of_reviews  5103 non-null   object
 4   price              5103 non-null   float64
 5   book_type          5103 non-null   object
 6   description        229 non-null    object
 7   publisher          229 non-null    object
 8   page_count         229 non-null    float64
 9   genres             5103 non-null   object
 10  ISBN               229 non-null    object
 11  language           229 non-null    object
 12  published_date     228 non-null    object
dtypes: float64(3), object(10)
memory usage: 518.4+ KB

## 5. Build Relational Tables and ERD

In [205]:
import sqlite3

In [214]:
conn = sqlite3.connect('combined_books.db')

# BOOK INFORMATION TABLE-- PRIMARY
Book_df = (
    df_combined[['title','author','description','page_count','book_type']]
    .drop_duplicates(subset=['title','author','book_type'])
    .reset_index(drop=True)
)
Book_df.insert(0, "book_id", Book_df.index + 1)

Book_df["page_count"] = pd.to_numeric(Book_df["page_count"], errors="coerce").astype("Int64")

# COST TABLE
Cost_df = (
    df_combined[['title','author','book_type','price']]
    .drop_duplicates(subset=['title','author','book_type'])
    .merge(Book_df[['book_id','title','author','book_type']], on=['title','author','book_type'], how='left')
    [['book_id','price']]
)

# CLASSIFICATION TABLE
Classification_df = (
    df_combined[['title','author','book_type','genres']]
    .drop_duplicates(subset=['title','author','book_type'])
    .merge(Book_df[['book_id','title','author','book_type']], on=['title','author','book_type'], how='left')
    [['book_id','genres']]
)

# PUBLISHED INFORMATION
Publish_df = (
    df_combined[['title','author','book_type','publisher','published_date','ISBN']]
    .drop_duplicates(subset=['title','author','book_type'])
    .merge(Book_df[['book_id','title','author','book_type']], on=['title','author','book_type'], how='left')
    [['book_id','publisher','published_date','ISBN']]
)

# LANGUAGE (This is an outlier for physical book data)
Language_df = (
    df_combined[['title','author','book_type','language']]
    .drop_duplicates(subset=['title','author','book_type'])
    .merge(Book_df[['book_id','title','author','book_type']], on=['title','author','book_type'], how='left')
    [['book_id','language']]
)

# Need to write the columns to SQL so queries can be run. 
Book_df.to_sql('book', conn, index=False, if_exists='replace')
Cost_df.to_sql('cost', conn, index=False, if_exists='replace')
Classification_df.to_sql('classification', conn, index=False, if_exists='replace')
Publish_df.to_sql('publish', conn, index=False, if_exists='replace')
Language_df.to_sql('language', conn, index=False, if_exists='replace')

conn.commit()
conn.close()