## Preferences of Audiobooks Vs. Physical Books ##
This notebook will combine the combination of two datasets. One will be information based from the Audible catalog and the other will be from Google Books. We will compare the ratings of the same book based on whether they were more enjoyed as an audiobook or a physical copy read.

1. Import Necessary Tools

In [5]:
import pandas as pd
import sqlite3
import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib.ticker as mticker
import textwrap

2. Inspect the Data for Audio Books

In [8]:
df_audio = pd.read_csv('../data/Audible_Catlog.csv', encoding='ISO-8859-1')
df_audio.head()

,ï»¿Book Name,Author,Rating,Number of Reviews,Price
0,Think Like a Monk: The Secret of How to Harnes...,Jay Shetty,4.9,313.0,10080.0
1,Ikigai: The Japanese Secret to a Long and Happ...,HÃ©ctor GarcÃ­a,4.6,3658.0,615.0
2,The Subtle Art of Not Giving a F*ck: A Counter...,Mark Manson,4.4,20174.0,10378.0
3,Atomic Habits: An Easy and Proven Way to Build...,James Clear,4.6,4614.0,888.0
4,Life's Amazing Secrets: How to Find Balance an...,Gaur Gopal Das,4.6,4302.0,1005.0

In [ ]:
df_audio.info()

#Comparable Columns include: Author, Book Name, Rating, Price

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6368 entries, 0 to 6367
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ï»¿Book Name       6368 non-null   object
 1   Author             6368 non-null   object
 2   Rating             6368 non-null   float64
 3   Number of Reviews  5737 non-null   float64
 4   Price              6365 non-null   float64
dtypes: float64(3), object(2)
memory usage: 248.9+ KB

In [ ]:
# To DO: Add column at end to let user know Audio Book before combining sets.

3. Inspect the data for Google Books

In [12]:
df_physical = pd.read_csv('../data/google_books_1299.csv', encoding='ISO-8859-1')
df_physical.head()

,Unnamed: 0,title,author,rating,voters,price,currency,description,publisher,page_count,generes,ISBN,language,published_date
0,0,Attack on Titan: Volume 13,Hajime Isayama,4.6,428,43.28,SAR,NO SAFE PLACE LEFT At great cost to the Garris...,Kodansha Comics,192,none,9781612626864,English,"Jul 31, 2014"
1,1,Antiques Roadkill: A Trash 'n' Treasures Mystery,Barbara Allan,3.3,23,26.15,SAR,Determined to make a new start in her quaint h...,Kensington Publishing Corp.,288,"Fiction , Mystery &amp, Detective , Cozy , Gen...",9780758272799,English,"Jul 1, 2007"
2,2,The Art of Super Mario Odyssey,Nintendo,3.9,9,133.85,SAR,Take a globetrotting journey all over the worl...,Dark Horse Comics,368,"Games &amp, Activities , Video &amp, Electronic",9781506713816,English,"Nov 5, 2019"
3,3,Getting Away Is Deadly: An Ellie Avery Mystery,Sara Rosett,4.0,10,26.15,SAR,"With swollen feet and swelling belly, pregnant...",Kensington Publishing Corp.,320,none,9781617734076,English,"Mar 1, 2009"
4,4,"The Painted Man (The Demon Cycle, Book 1)",Peter V. Brett,4.5,577,28.54,SAR,The stunning debut fantasy novel from author P...,HarperCollins UK,544,"Fiction , Fantasy , Dark Fantasy",9780007287758,English,"Jan 8, 2009"

In [13]:
df_physical.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1299 entries, 0 to 1298
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      1299 non-null   int64
 1   title           1299 non-null   object
 2   author          1299 non-null   object
 3   rating          1224 non-null   float64
 4   voters          1224 non-null   object
 5   price           1299 non-null   float64
 6   currency        1299 non-null   object
 7   description     1296 non-null   object
 8   publisher       1299 non-null   object
 9   page_count      1299 non-null   int64
 10  generes         1299 non-null   object
 11  ISBN            1299 non-null   object
 12  language        1299 non-null   object
 13  published_date  1299 non-null   object
dtypes: float64(2), int64(2), object(10)
memory usage: 142.2+ KB

In [ ]:

# TO DO: Add Column to end stating Physical Book before combining sets